html {
    display: flex;
    align-items: center;
    justify-content: center;
}
body {
    padding: 2rem;
    max-width:1200px;
}
h1{
    line-height:1;
    text-transform: capitalize;
}
